.formulario-registro, .formulario-login {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.formulario-registro label, .formulario-login label {
    text-align: right;
}

.formulario-login input {
    width: 100px;
}

.formulario-login label {
    margin-left: 3rem;
}

.swal2-modal {
    background-color: white;
}