/* Monitor */
@media all and (min-width: 901px) {
    header {
        /* background-color: grey; */
        background-color: rgba(99, 96, 96, 0.5);
        display: flex;
    }

    nav > ul {
        display: flex;
    }

    body {
        background-image: url(../imagenes/fondo-policial.jpg);
        background-repeat: no-repeat;
    }

    img {
        height: 50px;
        width: 50px;
    }

    li {
        list-style: none;
    }

    a {
        color: white;
        text-decoration: none;
    }

    #menu li a {
        text-decoration: none;
        float: left;
        padding: 10px;
        /* background-color: #2175bc; */
        color: #fff;
    }

    nav {

    }

    aside {

    }

    main {

    }

    footer {

    }
}