/* Monitor */
@media all and (min-width: 901px) {
    body {
        min-height: 100vh;
        background-repeat: no-repeat;
        display: grid;
        grid-template: 
            "header" auto
            "main"   1fr
            / 1fr
        ;
    }
    
    .cabecera {
        background-image: url(../imagenes/policia-nacional.png);
        height: 100%;
        width: 100%;
    }

    header {
        grid-area: header;
        background-color: black;
        display: flex;
        justify-content: center;
    }

    header > div {
        margin: 0 1rem;
    }

    header > div:nth-child(1) {
        align-self: center;
    }

    header > div:nth-child(2) > img {
        height: 30px;
        width: 30px;
    }

    main {
        grid-area: main;
        /* background-color: rgba(168, 162, 162, 0.5); */
        background-image: url(../../imagenes/policia-nacional.png);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: rgba(64, 68, 73, 0.5);
    }    

    main > a > svg {
        position: absolute;
        /* background-image: url(../../imagenes/flecha-atras.svg); */
        width: 50px;
        height: 50px;
        top: 5%;
        left: 5%;
    }

    main > form {
        background-color: rgba(19, 30, 53, 0.9);
        margin: 1rem;
        padding: 1rem;
        width: 40%;
        height: fit-content;
        min-width: 25rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main > form > div > h1 {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    hr {
        border-color: rgb(97, 87, 89);
    }

    main > form > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem;
    }

    main > form > div > p {
        font-size: 1.4rem;
    }

    main > form > div > p, main > form > div > input{
        text-align: center;
        color: white;
        margin: 0.5rem;
    }

    input[type="text"], input[type="password"] {
        display: block;
        width: 100%;
        border: none;
        border-bottom: solid 2px white;
        background-color: transparent;
        font-size: 1.2rem;
        outline: none;
        border-radius: 1rem;
        padding: 0.3rem;
    }

    input[type="submit"] {
        background-color: white;
        color: black;
        margin-top: 1rem;
        font-size: 1.2rem;
        padding: 0.7rem 3rem;
        border: none;
        border-radius: 4rem;
    } 

    a {
        /* color: rgb(66, 98, 202); */
        color: rgb(181, 222, 255);
    }

}