@media all and (min-width: 901px) {
    .flecha {
        z-index: 1;
    }    
    
    main > a > svg {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 4%;
        left: 5%;
    }

    .fondo > h1 {
        margin: 1rem;
    }

    .titulo-tipo-denuncia {
        text-align: center;
    }
    
    .grupo-cards {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .card {
        background-color: rgb(19, 30, 53);
        margin: 1rem;
        box-shadow: 0 5px 10px;
        width: 350px;
        display: flexbox;
        flex-direction: column;
        align-items: center;
        text-align: start;
        align-self: center;
        display: flex;
        flex-direction: column;
        height: inherit;
        padding: 1rem;
    }
    
    .card > img {
        width: inherit;
        height: auto;
        display: block;
        bottom: 0;
    }
    
    .card > * {
        width: 100%;
        font-size: 1.3rem;
    }

    .card > textarea{
        font-family: Roboto, Arial;
        color: white;
        text-align: start;
        max-width: 100%;
        resize: none;
        background-color: transparent;
        font-size: 1rem;
        outline: none;
        padding: 0.2rem;
        height: 100%;
        border: solid 2px;
        border-radius: 1rem;
    }

    .card:hover, textarea:hover {
        cursor: default;
    }

    .card > label, .aceptar > input[type="submit"]{
        background-color: white;
        color: black;
        margin-top: 0.5rem;
        font-size: 1rem;
        width: auto;
        padding: 0.7rem 3rem;
        border: none;
        border-radius: 4rem;
        outline: none;
    }

    label > svg{
        height: 35px;
    }

    .card > input[type="submit"]{
        display: none;
    }

    .card > .fecha {
        text-align: center;
    }

    .card-previo {
        background-color: rgba(158, 156, 2, 0.5);
    }

    .card-aprobado {
        background-color: rgba(2, 158, 28, 0.5);
    }

    .card-rechazado {
        background-color: rgba(158, 2, 2, 0.5);
    }

    .tipo-delito {
        margin: 1rem;
    }

    .tipo-delito > select{
        width: 40%; 
        font-size: 80%;
        height: auto; 
        overflow: hidden; 
        padding: 0 1rem;
        -webkit-appearance: none;
        background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E),
        linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .80em auto, 100%;
        border: 1px solid #ccc;
        outline: none;
    }

    .aceptar {
        display: flex;
        justify-content: space-between;
    }

    .aceptar > input[name="aceptar_denuncia"]{
        background-color: rgb(62, 135, 196);
    }

    .aceptar > input[name="rechazar_denuncia"]{
        background-color: rgb(243 96 100);
    }

    .swal2-html-container > img {
        width: 100%;
    }
        
}