@media all and (min-width: 901px) {
    main > a > svg {
        position: absolute;
        /* background-image: url(../../imagenes/flecha-atras.svg); */
        width: 50px;
        height: 50px;
        top: 5%;
        left: 5%;
    }

    .grupo-cards {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    
    .card {
        background-color: rgb(19, 30, 53);
        margin: 1rem;
        box-shadow: 0 5px 10px;
        width: 350px;
        display: flexbox;
        flex-direction: column;
        align-items: center;
        text-align: start;
        align-self: center;
        /* padding: 1rem; */
        /* margin: 1rem; */
        /* display: grid; */
        display: flex;
        flex-direction: column;
        height: inherit;
        padding: 1rem;
    }
    
    .card > img {
        width: inherit;
        height: auto;
        display: block;
        bottom: 0;
    }
    
    .card > * {
        width: 100%;
        font-size: 1.3rem;
        /* margin: 1rem; */
        /* border: solid 1px blue; */
    }

    .card > textarea{
        font-family: Roboto, Arial;
        color: white;
        text-align: start;
        max-width: 100%;
        resize: none;
        background-color: transparent;
        font-size: 1rem;
        outline: none;
        padding: 0.3rem;
        height: 100%;
    }

    .card:hover, textarea:hover {
        cursor: default;
    }

    .card > label, .aceptar > input[type="submit"]{
        background-color: white;
        color: black;
        margin-top: 0.5rem;
        font-size: 1rem;
        width: auto;
        padding: 0.7rem 3rem;
        border: none;
        border-radius: 4rem;
        outline: none;
    }

    label > svg{
        height: 35px;
    }

    .card > input[type="submit"]{
        display: none;
    }

    .aceptar {
        display: flex;
        justify-content: space-between;
    }

    .aceptar > input[name="aceptar_denuncia"]{
        background-color: rgb(62, 135, 196);
    }

    .aceptar > input[name="rechazar_denuncia"]{
        background-color: rgb(243 96 100);
    }

    .swal2-html-container > img {
        width: 100%;
    }
        
}