@media all and (max-width: 450px) {

    header {
        grid-area: header;
        background-color: black;
        display: flex;
        justify-content: space-around;
    }

    header > div > img, header > div:nth-child(3) > form > label > svg {
        display: none;
    }
}